KIS_APP_KEY=
KIS_APP_SECRET=
KIS_ACCOUNT_NO=
KIS_ACCOUNT_PRODUCT_CODE=
KIS_ACCOUNT_ALIAS=한국투자 ISA
KIS_ENVIRONMENT=real
KIS_LIFETIME_START_DATE=20000101
PORTFOLIO_PASSWORD=

TOSS_APP_KEY=
TOSS_APP_SECRET=
TOSS_ACCOUNT_ALIAS=토스 일반
